<table>
<th>Компоненты Фибоначчи</th>
<tr>
  <td style="background-color: red">Модуль app-square1</td>
  <td><app-square1></app-square1></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="background-color: lightblue">Модуль app-square2</td>
  <td><app-square2></app-square2></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="background-color: green">Модуль app-square3+</td>
  <td><app-square3></app-square3></td>
  <td><app-square3a></app-square3a></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="background-color: orange">Модуль app-square4+</td>
  <td><app-square4></app-square4></td>
  <td><app-square4a></app-square4a></td>
  <td><app-square4b></app-square4b></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="background-color: pink">Модуль app-square5+</td>
  <td><app-square5></app-square5></td>
  <td><app-square5a></app-square5a></td>
  <td><app-square5b></app-square5b></td>
  <td><app-square5c></app-square5c></td>
  <td><app-square5d></app-square5d></td>
</tr>
</table>